---
layout: page
title: '30 Military Retirement Quotes to Honor Veterans'
title2: Military Retirement Quotes
description: >-
  Honor a retiring veteran with one of these appreciative
  retirement quotes and sayings
image: /img/military-retirement-quotes.jpg
permalink: /military-retirement-quotes/
tags: 'military retirement sayings, military retirement quotes, retirement wishes for a veteran, retirement messages for a veteran'
categories:
  - messages
published: true
---

<p>
Retiring from a life long military career deserves a huge amount of respect and honour. To have devoted your life to serving and protecting your country is to be admired, and when the time finally comes to move back into civilian life then both friends and family, and the military family should be celebrating this big event. 
</p>

<p>
If you're looking to send a card to a retiring veteran, or perhaps delivering a speech at a retirement party for someone from the military, then try using one of these military retirement quotes. Unless you've served yourself it can be tricky to know exactly what military life is like, but these quotes do a good job of reaching out to those who have and understanding what it was like.
</p>

{% include adsense-top-responsive.html %}

<ol>
<li>"The veterans of our military services have put their lives on the line to protect the freedoms that we enjoy. They have dedicated their lives to their country and deserve to be recognized for their commitment" - Judd Gregg</li>
<li>"As we express our gratitude, we must never forget that the highest appreciation is not to utter words, but to live by them" - John F. Kennedy</li>
<li>"The number of medals on an officer’s breast varies in inverse proportion to the square of the distance of his duties from the front line" - Charles Edward Montague</li>
<li>"How important it is for us to recognize and celebrate our heroes and she-roes" - Maya Angelou</li>
<li>"What you leave behind is not what is engraved on stone monuments but what is woven into the hearts of others" - Pericles</li>
<li>"Retirement has been a discovery of beauty for you. I never had the time before to notice the beauty of your grand kids, your wife, and the tree outside your very own front door. And, the beauty of time itself" – Hartman Jule</li>
<li>"This nation will remain the land of the free only so long as it is the home of the brave" - E. Davis</li>
<li>"A hero is someone who has given his or her life to something bigger than oneself" - Joseph Campbell</li>
<li>"Freedom is never more than one generation away from extinction. We didn’t pass it to our children in the bloodstream. It must be fought for, protected, and handed on for them to do the same" - Ronald Reagan</li>
<li>"Age is only a number, a cipher for the records. A man can’t retire his experience. He must use it" - Bernard Baruch</li>
<li>"Courage is almost a contradiction in terms. It means a strong desire to live taking the form of readiness to die" - G.K. Chesterton</li>
</ol>

{% include adsense-middle1-responsive.html %}

<ol>
<li>"The battle, sir, is not to the strong alone; it is to the vigilant, the active, the brave …" - Patrick Henry</li>
<li>"Thank God every day when you get up that you have something to do that day which must be done whether you like it or not. Being forced to work and forced to do your best will breed in you temperance and self-control, diligence and strength of will, cheerfulness and content, and a hundred virtues which the idle will never know" - Basil Carpenter</li>
<li>"I think there is one higher office than president and I would call that patriot" - Gary Hart</li>
<li>"And they live tradition; the United States Marine bears upon his shoulders the nation’s past and the nation’s hopes for the future" - Hanson W. Baldwin</li>
<li>"This flag may fade but these colors don't run" - Charles M. Province</li>
<li>"In the beginning of a change, the patriot is a scarce man, and brave, and hated and scorned. When his cause succeeds, the timid join him, for then it costs nothing to be a patriot" - Mark Twain</li>
<li>"Never was so much owed by so many to so few" - Winston Churchill</li>
<li>"Land of the free because of the brave" - Annonymous</li>
<li>"The Marines will never disappoint the expectations of their country – never!" Captain  C.W. Morgan, U.S. Navy</li>
</ol>

{% include adsense-middle2-responsive.html %}

<div class="row">
<div class="column">
<img src="/img/military-retirement-quote-1.jpg" class="center-image" alt="veterans recognition retirement quote" />
</div>
<div class="column">
<img src="/img/military-retirement-quote-2.jpg" class="center-image" alt="john f kennedy retirement quote about the military" />
</div>
</div>
<hr>

<h2>Military Appreciation Quotes for Retirement</h2>

<p>These quotes show your appreciation for those who have served and all they've given as they finally retire.</p>

<ol>
<li>"I only regret that I have but one life to lose for my country"- Nathan Hale</li>
<li>"We sleep safely at night because rough men stand ready to visit violence on those who would harm us" - Winston Churchill</li>
<li>"There is nothing stronger than the heart of a volunteer" Gen. James H. Doolittle</li>
<li>"A hero is someone who has given his or her life to something bigger than oneself" - Joseph Campbell
</li>
<li>"When the will defies fear, when duty throws the gauntlet down to fate, when honor scorns to compromise with death - that is heroism" - Robert Green Ingersoll</li>
<li>"If your actions inspire others to dream more, learn more, do more and become more, you are a leader" -John Quincy Adams</li>
<li>"No duty is more urgent than that of returning thanks" - James Allen</li>
<li>"The brave die never, though they sleep in dust: Their courage nerves a thousand living men" - Minot J. Savage
</li>
<li>"For what avail the plough or sail, or land or life, if freedom fail?" - Ralph Waldo Emerson</li>
<li>"The patriot's blood is the seed of freedom's tree" - Thomas Campbell</li>
<li>"No man is entitled to the blessings of freedom unless he be vigilant in its preservation" - Gen. Douglas MacArthur
</li>
<li>"This will remain the land of the free so long as it is the home of the brave" - Elmer Davis</li>
</ol>
