---
layout: page
title: '46 Retirement Farewell Messages and Quotes'
title2: Retirement Farewell Messages and Quotes
description: >-
  Say goodbye to a retiring friend, colleague or boss with one of these farewell retirement messages
image: /img/retirement-farewell-messages.jpg
permalink: /retirement-farewell-messages/
tags: 'retirement farewell, retirement farewell messages, retirement farewell quotes, farewell quotes about retirement'
excerpt: Testing the excerpt 
categories:
  - messages
published: true
---

<p>
Saying goodbye can be hard. We form bonds and attachments to people that are tough to break. So when a friend, coworker, boss, or all of the above retires it is often a time filled with sadness. Farewells are upsetting, especially when you were close to that person. And whilst it's never planned, retirement can lead to you seeing a lot less of them. Life unfortunately gets in the way and even with the best intentions those colleagues you shared such wonderful times with sadly drift away. That's why it's important to say farewell properly. To make sure you let whoever it is that is retiring and leaving know just how much they meant to you and how much you'll miss them.
</p>

<p>
That's why we've put together this extensive list of retirement farewell messages and quotes - to help you say exactly how you feel. The messages here will allow you to express those feelings and show your sadness at saying farewell to your retiring colleague or friend. You can use them as a starting point for writing your own words or copy them directly as they are, and they should be perfect for a retirement card, speech or even just to share on somewhere olive Facebook.
</p>

{% include adsense-top-responsive.html %}

<h2>Retirement Farewell Messages</h2>

<ul class="heart">
<li>Farewell and enjoy your retirement!</li>
<li>You've earned a truly special retirement. Farewell and best wishes</li>
<li>Sad to see you go but wishing you all the best. Farewell!</li>
<li>Lie-ins, free time, no work deadlines.. I'm not jealous! Farewell and try to remember us! </li>
<li>Farewell and all the best in your retirement</li>
<li>Wishing you a long and happy retirement. Farewell!</li>
<li>Farewells are so sad. Let's just goodbye for now!</li>
<li>I hope you have a wonderful retirement. Farewell and so long</li>
<li>Farewell and enjoy your travels and all the fun retiring brings</li>
<li>It's sad to lose you but I wish you all the happiness in the world as you retire. Farewell now</li>
<li>Farewell to a special person who I know will have the most fun as they retire</li>
<li>Retirement? You're not old enough! Farewell and good luck with everything</li>
</ul>

{% include adsense-middle1-responsive.html %}

<div class="row">
<div class="column">
<img src="/img/retirement-farewell-message-1.jpg" class="center-image" alt="farewell enjoy your retirement" />
</div>
<div class="column">
<img src="/img/retirement-farewell-message-2.jpg" class="center-image" alt="farewell have a happy retirement" />
</div>
</div>
<hr>

<h2>Retirement Farewell Messages for Friends</h2>

<ul class="heart">
<li>To my best friend - farewell and take it easy as your retire</li>
<li>I'm going to miss you but can't wait to see how happy you are in retirement. Farewell pal</li>
<li>Farewell to a true friend through thick and thin. Enjoy your retirement</li>
<li>Even as you retire to new pastures I know our friendship will last forever. Farewell and best of luck</li>
<li>Farewell to a friend like no other. We've been through so much I'm going to miss you more than I can say. Have a wonderful retirement</li>
<li>Farewell and enjoy retirement. I'll make sure I come and visit you on the beach!</li>
<li>As someone who's already retired I can tell you you're going to love it! Farewell buddy</li>
<li>Farewell and bon voyage as you set off on your travels. I hope your retirement is everything you ever dreamed of</li>
<li>Farewell my friend. I'll miss you but know that you've been waiting for retirement and the chance to get away. Enjoy yourself!</li>
<li>Farewell, have an amazing retirement, and don't forget to write!</li>
<li>Friends don't let friends retire without saying farewell - farewell!</li>
<li>To my best pal, you deserve a long break and time away from it all. I'll miss ya but hope you enjoy yourself. Farewell, buddy </li>
</ul>

{% include adsense-middle1-responsive.html %}

<h2>Retirement Farewell Messages for Coworker</h2>

<ul class="heart">
<li>Work just isn't going to be the same without you! Farewell and have a fantastic retirement</li>
<li>You've become more than just a colleague and I'm going to miss you so much. Farewell and make the most of your retirement</li>
<li>After years sitting beside you it's going to feel weird with you gone. Farewell to my work buddy, enjoy retired life</li>
<li>I can't imagine the office without you. It's going to be so strange not having you around. Farewell and remember to stop by and see us</li>
<li>Your hard work and positive attitude were always so appreciated by everyone. We will miss you. Farewell and have a happy retirement </li>
<li>You always had a smile on your face and never failed to cheer me up. I can only hope retirement treats you as well as you treated me. Farewell my colleague and friend</li>
<li>Years of service means you deserve a long and happy retirement. Farewell and think of us while you're relaxing by the pool!</li>
<li>It's been an absolute pleasure working with you. Enjoy your retirement years. Farewell</li>
<li>It was you who made this such a great place to work. Farewell and here's to many happy years of retired living</li>
<li>Enjoy the time you now have with your family and the new, calmer pace of life. Farewell and happy retirement</li>
</ul>

<h2>Retirement Farewell Messages for Boss</h2>

<ul class="heart">
<li>Farewell to the best boss I could have ever had! I'm going to miss you!</li>
<li>Enjoy your retirement and try not to forget us!</li>
<li>I feel privileged to have worked under such an outstanding boss. I wish you all the best in your retirement. Farewell</li>
<li>After years of hard work you've earned a rest. Farewell and enjoy all your free time</li>
<li>So long and farewell to a boss who was always fair and understanding with his employees. We'll miss you</li>
<li>I can't imagine having a better boss than you. Work won't be the same without you. Farewell</li>
<li>Enjoy your retirement and allot brings. Farewell to a brilliant manager</li>
<li>Your dedication to the company has been inspiring. You leave behind a legacy unrivalled. Farewell and best of luck with your retirement </li>
<li>To a boss who can't be beat - I hope your retirement is all you hoped it would be. Farwell</li>
<li>You were always fair even when things were tough. I appreciate all you did for the company and its staff. Farewell and good luck with whatever retirement brings </li>
<li>You may have had the title boss but we never felt like you were anything other than one of us. Farewell and happy retirement!</li>
<li>To one special boss - no more stress! Farewell and embrace your new life of relaxation and free time</li>
</ul>
