<body itemscope="" itemtype="https://schema.org/WebPage">
  
  <a href="/" class="logo"><img src="/img/retirement-messages-logo.jpg" alt="Retirement Messages"></a>
  
  <div class="wrapper">

          <h1>{% if page.title2 %}{{ page.title2 }}  {% else %}{{ page.title }}{% endif %}</h1>
  
      <div class="sharing">
        
  <a class="sharing-button twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" title="Share on Twitter">Twitter</a>

  <a class="sharing-button facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>

  <a class="sharing-button googleplus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google Plus">Google+</a>
 
</div>

  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="#work">Home</a></li>
    <li><a href="#about">Top 100 Wishes</a></li>
    <li><a href="#careers">Quotes</a></li>
    <li><a href="#contact">Funny Quotes</a></li>
    <li><a href="#contact">Poems</a></li>
    <li><a href="#contact">Prayers</a></li>
    <li><a href="#contact">For a Friend</a></li>
    <li><a href="#contact">For a Coworker</a></li>
    <li><a href="#contact">For Mother</a></li>
    <li><a href="#contact">For Father</a></li>
  </ul>
